.textColor {
	background: #eaedf2;
	border: none;
	padding: 7px 10px;
	font-size: 14px;
	color: #5e5a57;
	outline: none;
	caret-color: #5e5a57;
	border-radius: 13px;
	box-shadow: inset 3px 4px 7px #cccfd4, inset -3px -4px 3px white;
	margin: 0px 0px 10px 0px;
	font-weight: 700;
}
.textColorRed {
	background: #eaedf2;
	border: none;
	padding: 7px 10px;
	font-size: 14px;
	color: #5e5a57;
	outline: none;
	caret-color: #5e5a57;
	border-radius: 13px;
	box-shadow: inset 3px 4px 7px #cccfd4, inset -3px -4px 3px white;
	margin: 0px 0px 10px 0px;
	color: red;
	font-weight: 700;
}